a:link {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #201a99;
    text-decoration: none;
}

#main_body {
    background: url(background.jpg);
    background-size: 100%;
}

#main_header {
    text-align: center;
    color: white;
}

#section_1 {
    text-align: center;
    color: white;
}

#paragraph_1 {
    text-align: center;
    color: white;
}

#pythonlogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 20%;
    width: 20%;
}

.twitter {
    color: white
}