#main_header {
    text-align: center
}

#section_1 {
    text-align: center
}

#paragraph_1 {
    text-align: center
}

#pythonlogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 20%;
    width: 20%;
}