body {
    background: rgb(23, 28, 68);
    color: white;
}

#home-section {
    background: url(../background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 700px;
}

#home-section .home-inner {
    padding-top: 150px;
}

#home-section .card-form {
    opacity: 0.8;
}

#home-section .fas {
    color: #008ed6;
    background: white;
    padding: 5px;
    border-radius: 5px;
}